fastapi
uvicorn[standard]
pydantic
python-dotenv

sentence-transformers
faiss-cpu

numpy
pandas

requests
beautifulsoup4
lxml

google-generativeai

pytest
httpx
selenium
webdriver-manager
torch
transformers